<section id="about" class="h-screen flex justify-center items-center px-6 mb-28 lg:mb-0">
  <div class="max-w-3xl mt-28 lg:mt-0 mx-auto flex flex-col gap-6">

    <div class="w-full flex justify-center">
      <a href="/"
        class="flex items-center font-semibold gap-3 p-1 px-3 rounded-2xl bg-white border border-slate-400/10 shadow-lg text-sm">
        <div class="relative flex h-2 w-2"><span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"></span><span
            class="relative inline-flex rounded-full h-2 w-2 bg-emerald-500"></span></div>

        <span>Lombok Dev </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-zap h-3 w-3 text-orange-500" aria-hidden="true">
          <path
            d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z">
          </path>
        </svg>
        <span>Meetup#13</span>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-arrow-right h-3 w-3" aria-hidden="true">
          <path d="M5 12h14"></path>
          <path d="m12 5 7 7-7 7"></path>
        </svg>
      </a>
    </div>

    <h1 class="text-4xl md:text-6xl text-center font-bold transition-colors duration-300 text-gray-900">
      Lombok Dev</h1>

    <h2 class="text-center text-xl font-bold tracking-tight mb-2"><span
        class="bg-gradient-to-r bg-[200%_auto] bg-clip-text leading-tight text-transparent transition-all duration-300 from-neutral-900 via-slate-500 to-neutral-500">Local
        Software Developer Community in Indonesia</span></h2>

    <div class="prose prose-lg max-width-none">
      <p
        class="text-sm sm:text-lg mb-6 sm:mb-8 transition-colors duration-300 px-4 sm:px-0 text-gray-600 leading-relaxed text-center">
        Lombok Dev is a community-driven, regular meetup in Lombok—specifically in cities like Mataram and Ampenan—that
        brings together anyone interested in IT, open source, software development, system/network administration, and
        related tech fields. It aims to provide information, inspiration, and hands-on knowledge while fostering a
        collaborative ecosystem among tech enthusiasts on the island.
      </p>
    </div>

    <div class="flex justify-center gap-4">
      <a href="https://t.me/lombokdev"
        class="rounded-xl border backdrop-blur-md border-blue-500 flex items-center justify-center p-2 bg-blue-500/10 hover:bg-blue-500/20">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007aff"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
        </svg>
      </a>
      <a href="https://t.me/lombokdev"
        class="rounded-xl border backdrop-blur-md border-pink-500 flex items-center justify-center p-2 bg-pink-500/10 hover:bg-pink-500/20">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ff5c7a"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M16.5 7.5l0 .01" />
        </svg>
      </a>
      <a href="https://t.me/lombokdev"
        class="rounded-xl border backdrop-blur-md border-slate-500 flex items-center justify-center p-2 bg-slate-500/10 hover:bg-slate-500/20"><svg
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#383b47"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
        </svg>

      </a>
    </div>
  </div>
</section>